<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>choice</title>
</head>
<body>
    <form action="choice" method="post">
        <select name="choice1">
            <option value="none">select the row</option>
            {% for i in l %}
            <option value="{{i}}">{{i}}</option>
            {% endfor %}
        </select>
        <br>
        <select name="choice2">
            <option value="none">select the row</option>
            {% for i in l %}
            <option value="{{i}}">{{i}}</option>
            {% endfor %}
        </select>
        <br>
        <input type="submit">
    </form>
</body>
</html>